<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="FormSuite">
    <listeners>
        <listener class-name="tests.Exportcontrol.Samplepakage.Forms_Management_Create_New_Form"/>
    </listeners>
    <test name="Form Test">
        <classes>
            <class name="tests.Exportcontrol.Samplepakage.Forms_Management_Create_New_Form"/>
        </classes>
    </test>
</suite>



